.card {
  position: relative;
}

.delete-button {
  position  : absolute;
  top       : 50%;
  left      : 85%;
  transform : translate(-50%, -50%);
  opacity   : 0;
  transition: opacity 0.3s ease;
}

.card:hover .delete-button {
  opacity: 1;
}
