.card {
  position: relative;
  width   : 90%;
}

.delete-button {
  position     : absolute;
  top          : 35%;
  right        : 10%;
  /* transform : translate(-50%, -50%);
  opacity      : 0;
  transition   : opacity 0.3s ease; */
}

/* .card:hover .delete-button {
  opacity: 1;
} */
