.card-container {
  display: flex;
}

.card {
  width: 95%;
}

.card-top {
  transition: transform 0.3s ease;
}

.card-bottom {
  display         : flex;
  justify-content : flex-end;
  position        : absolute;
  background-color: red;
  align-items     : center;
  cursor          : pointer;
}


.delete-button {
  position     : absolute;
  top          : 35%;
  right        : 10%;
  /* transform : translate(-50%, -50%);
  opacity      : 0;
  transition   : opacity 0.3s ease; */
}

/* .card:hover .delete-button {
  opacity: 1;
} */
